.search__tabs {
    display: flex;
}
.search__tab {
    background: @background2;
    padding: 2px 4px;
}
.search__tab-active {
    background: @gray;
    color: @background2;
}
.search__body {
    height: 20px;
    background: @gray;
    color: @background2;
}